Repository sugar-org/swarm-external-secrets: changes, and which lefthook commands are due for each by the changed paths.
All: go-tidy, go-fmt, go-vet, go-imports, golangci-lint, gosec, gocyclo, eof-newline

lefthook.yml:

# lefthook.yml
# This file is automatically generated by setup-hooks.sh

pre-commit:
  parallel: true
  commands:
    go-tidy:
      glob: "{go.mod,*.go}"
      run: go mod tidy && git add go.mod go.sum

    go-fmt:
      glob: "*.go"
      run: |
        for file in {staged_files}; do
          go fmt "$file"
          git add "$file"
        done

    go-vet:
      glob: "**/*.go"
      run: go vet ./...
    # Ensure imports are correctly formatted.
    go-imports:
      glob: "**/*.go"
      run: goimports -w {files} && git add {files}

    # go-test:
    #   glob: "*.go"
    #   run: go test -race ./...

    golangci-lint:
      glob: "**/*.go"
      timeout: 10m
      run: golangci-lint run ./...

    gosec:
      glob: "**/*.go"
      run: gosec ./...

    # Check for cyclomatic complexity. You'll need to install it:
    # `go install github.com/fzipp/gocyclo/cmd/gocyclo@latest`
    gocyclo:
      glob: "**/*.go"
      run: gocyclo -over 17 .
      
    eof-newline:
      help: Fail when a staged file does not end with a POSIX newline
      # pick the extensions you care about; here are the most common text types
      glob: "**/*.{go,sh,md,yml,yaml,json,txt}"
      stage_fixed: true          # lefthook will git-add any file we modify
      run: |
        fixed=0
        for file in {staged_files}; do
          [ -s "$file" ] || continue       # skip empty files
          # last byte → decimal code   (10 == '\n')
          last_byte=$(tail -c1 "$file" | od -An -t u1 | tr -d ' ')
          if [ "$last_byte" != "10" ]; then
            printf '\n' >> "$file"         # append missing newline
            echo "↪  added newline at EOF → $file"
            fixed=$((fixed + 1))
          fi
        done
        echo "✔  fixed $fixed file(s)"
        [ "$fixed" -eq 0 ]

feat: add oci provider
  config.json
  docs/multi-provider.md
  go.mod
  go.sum
  providers/factory.go
  providers/oci.go
  readme.md
Due: go-tidy, go-fmt, go-vet, go-imports, golangci-lint, gosec, gocyclo, eof-newline

feat!: make secret extraction explicit and remove implicit defaults
  driver.go
  providers/common.go
  providers/openbao.go
  providers/vault.go
Due: go-tidy, go-fmt, go-vet, go-imports, golangci-lint, gosec, gocyclo, eof-newline

ci: point tooling at top-level smoke test entrypoints
  .github/workflows/smoke-tests.yml
  .makim.yaml
  CONTRIBUTING.md
Due: eof-newline

test: promote smoke scripts as primary e2e entrypoint
  scripts/demo-rotation.sh
  scripts/deploy.sh
  scripts/run.sh
  scripts/smoke-awssm-compose.yml
  scripts/smoke-openbao-compose.yml
  scripts/smoke-test-all.sh
  scripts/smoke-test-awssm.sh
  scripts/smoke-test-helper.sh
  scripts/smoke-test-openbao.sh
  scripts/smoke-test-vault.sh
  scripts/smoke-vault-compose.yml
  scripts/test.sh
  scripts/tests/smoke-awssm-compose.yml
  scripts/tests/smoke-openbao-compose.yml
  scripts/tests/smoke-vault-compose.yml
Due: eof-newline

feat: multi-source-secret-payload
  docs/multi-provider.md
  driver.go
  driver_test.go
  providers/interface.go
  readme.md
  scripts/tests/smoke-multi-source-compose.yml
Due: go-tidy, go-fmt, go-vet, go-imports, golangci-lint, gosec, gocyclo, eof-newline

feat: added smoke test
  scripts/tests/smoke-test-helper.sh
  scripts/tests/smoke-test-vault.sh
  scripts/tests/smoke-vault-compose.yml
Due: eof-newline

refactor: move provider identity matching to provider interface
  driver.go
  driver_test.go
  providers/aws.go
  providers/azure.go
  providers/gcp.go
  providers/interface.go
  providers/openbao.go
  providers/vault.go
Due: go-tidy, go-fmt, go-vet, go-imports, golangci-lint, gosec, gocyclo, eof-newline

copilot suggestions addressed
  driver.go
  driver_test.go
Due: go-tidy, go-fmt

fix: failing ci and sonarqube cloud issues
  driver.go
  scripts/tests/smoke-test-helper.sh
  scripts/tests/smoke-test-vault.sh
Due: go-tidy, go-fmt, eof-newline

docs: add DeepWiki badge and README footer link
  readme.md
Due: none

docs: add DeepWiki badge and README footer link (#153)
  readme.md
Due: none

deploy: 90a922ef4e37be17423798ee5f0ef42394bbe944
  index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: eof-newline

Add activity feed API
  graphite-demo/server.js
Due: none

Add server API
  graphite-demo/server.js
Due: none

Add frontend for search
  graphite-demo/frontend.jsx
Due: none

Add user search
  graphite-demo/frontend.jsx
  graphite-demo/server.js
Due: none

ci: publish Docker plugin to GHCR and Docker Hub on GitHub releases
  .github/workflows/publish-plugin.yml
Due: eof-newline

fix(ci): tighten publish-plugin tag, prerelease, and Docker Hub gates
  .github/workflows/publish-plugin.yml
Due: eof-newline

chore: add makim targets to preview and cut GitHub releases
  .makim.yaml
  scripts/cut-release.sh
Due: eof-newline

ci: add Vault and OpenBao JWT renewal smoke tests
  .github/workflows/smoke-tests.yml
  scripts/tests/smoke-test-openbao-jwt.sh
Due: eof-newline

fix(ci): assemble JWT smoke policy on the host
  .github/workflows/smoke-tests.yml
  scripts/tests/smoke-test-helper.sh
  scripts/tests/smoke-test-openbao-jwt.sh
  scripts/tests/smoke-test-vault-jwt.sh
Due: eof-newline

fix(ci): keep JWT smoke tokens out of set -x logs
  scripts/tests/smoke-test-helper.sh
  scripts/tests/smoke-test-openbao-jwt.sh
  scripts/tests/smoke-test-vault-jwt.sh
Due: eof-newline

fix(ci): write JWT smoke policies via stdin
  scripts/tests/smoke-test-helper.sh
  scripts/tests/smoke-test-openbao-jwt.sh
  scripts/tests/smoke-test-vault-jwt.sh
Due: eof-newline

fix(ci): add iat/nbf/exp claims to JWT smoke tokens
  scripts/tests/smoke-test-openbao-jwt.sh
  scripts/tests/smoke-test-vault-jwt.sh
Due: eof-newline

fix(ci): return explicitly from write_jwt_smoke_policy
  scripts/tests/smoke-test-helper.sh
Due: eof-newline

fix(ci): fail closed on JWT policy copy and restore xtrace
  scripts/tests/smoke-test-helper.sh
Due: eof-newline

docs: document Vault/OpenBao JWT auth and client-token renewal
  docs/debugging.md
  docs/jwt.md
  docs/multi-provider.md
  docs/rotation.md
  mkdocs.yml
  readme.md
Due: eof-newline

docs: tighten JWT file perms, policy, and renewal log levels
  docs/debugging.md
  docs/jwt.md
  docs/rotation.md
Due: eof-newline

ci: skip test workflows on documentation-only changes
  .github/workflows/aws-floci-tests.yml
  .github/workflows/azure-floci-tests.yml
  .github/workflows/gcp-floci-tests.yml
  .github/workflows/lefthook.yml
  .github/workflows/oci-floci-tests.yml
  .github/workflows/smoke-tests.yml
  .github/workflows/vet-ci.yml
Due: eof-newline

chore: add makim targets to preview and cut GitHub releases (#194)
  .makim.yaml
  scripts/cut-release.sh
Due: eof-newline

ci: publish Docker plugin to GHCR and Docker Hub on releases (#193)
  .github/workflows/publish-plugin.yml
Due: eof-newline

ci: add Vault and OpenBao JWT renewal smoke tests (#197)
  .github/workflows/smoke-tests.yml
  scripts/tests/smoke-test-helper.sh
  scripts/tests/smoke-test-openbao-jwt.sh
Due: eof-newline

docs: Vault and OpenBao JWT auth and token renewal (#198)
  docs/debugging.md
  docs/jwt.md
  docs/multi-provider.md
  docs/rotation.md
  mkdocs.yml
  readme.md
Due: eof-newline

ci: skip test workflows on documentation-only changes (#199)
  .github/workflows/aws-floci-tests.yml
  .github/workflows/azure-floci-tests.yml
  .github/workflows/gcp-floci-tests.yml
  .github/workflows/lefthook.yml
  .github/workflows/oci-floci-tests.yml
  .github/workflows/smoke-tests.yml
  .github/workflows/vet-ci.yml
Due: eof-newline

deploy: 9af9a38b8a394d3e126e2fd0ef41ca07710dc53a
  404.html
  CONTRIBUTING/index.html
  gcp/index.html
  index.html
  jwt/index.html
  monitoring/index.html
  multi-provider/index.html
  rotation/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: eof-newline

fix: point release dry-run at remote main
  scripts/cut-release.sh
Due: eof-newline

fix: point release dry-run at remote main (#200)
  scripts/cut-release.sh
Due: eof-newline

fix: preserve rotation baseline on repeated secret gets
  driver.go
  driver_test.go
Due: go-tidy, go-fmt

fix: bound secret retrieval and update secure authentication
  .github/workflows/smoke-tests.yml
  docs/infisical.md
  docs/multi-provider.md
  go.mod
  go.sum
  providers/gcp.go
  providers/infisical.go
  providers/infisical_retry_test.go
  providers/infisical_test.go
  scripts/tests/smoke-test-infisical.sh
Due: go-tidy, go-fmt, go-vet, go-imports, golangci-lint, gosec, gocyclo, eof-newline

fix: run Infisical smoke tests without external credentials
  .github/workflows/smoke-tests.yml
  docs/infisical.md
  scripts/tests/infisical-local.sh
  scripts/tests/smoke-infisical-compose.yml
  scripts/tests/smoke-test-helper.sh
  scripts/tests/smoke-test-infisical.sh
Due: eof-newline
