Repository sugar-org/swarm-external-secrets: changes, and which lefthook commands are due for each by the changed paths.
All: go-tidy, go-fmt, go-vet, go-imports, golangci-lint, gosec, gocyclo, eof-newline

go-tidy:
  run: go mod tidy && git add go.mod go.sum

go-fmt:
  run: "for file in {staged_files}; do\n  go fmt \"$file\"\n  git add \"$file\"\ndone\n"

go-vet:
  run: go vet ./...

go-imports:
  run: goimports -w {files} && git add {files}

golangci-lint:
  timeout: 10m
  run: golangci-lint run ./...

gosec:
  run: gosec ./...

gocyclo:
  run: gocyclo -over 17 .

eof-newline:
  help: Fail when a staged file does not end with a POSIX newline
  stage_fixed: true
  ...

fix(ci): add Docker Hub credentials to environment variables in release workflow (#135)
  .github/workflows/release.yml
Due: eof-newline

fix(release): update GitHub owner to sugar-org in release configuration
  .goreleaser.yaml
Due: none

fix(release): update GitHub owner to sugar-org in release configuration (#136)
  .goreleaser.yaml
Due: none

refactor: switch to github-native changelog generation and remove custom sorting and grouping
  .goreleaser.yaml
Due: none

feat: add Quay.io support for Docker plugin publishing
  .github/workflows/release.yml
Due: eof-newline

feat: add Quay.io support for Docker plugin publishing (#137)
  .github/workflows/release.yml
Due: eof-newline

fix: correct closure of goroutine in secret change detection
  driver.go
Due: go-tidy, go-fmt

fix: remove stale Vault rotation env vars from plugin configs and few scripts.
  config.json
  scripts/demo-rotation.sh
  scripts/deploy.sh
  scripts/test.sh
Due: eof-newline

fix: remove stale Vault rotation env vars from plugin configs and few scripts. (#138)
  config.json
  scripts/demo-rotation.sh
  scripts/deploy.sh
  scripts/test.sh
Due: eof-newline

deploy: 2cad5f54889dafb32c4f709ef3554f8b7ec48815
  sitemap.xml
  sitemap.xml.gz
Due: none

fix: remove Quay.io integration from Docker plugin release workflow
  .github/workflows/release.yml
Due: eof-newline

fix: remove Quay.io integration from Docker plugin release workflow (#141)
  .github/workflows/release.yml
Due: eof-newline

Update driver.go
  driver.go
Due: go-tidy, go-fmt

clean history, removed the other branch clutter and fixed lefthook.
  driver.go
Due: go-tidy, go-fmt

fix: parallelize secret polling checks (#106)
  driver.go
Due: go-tidy, go-fmt

deploy: 0c8d47528e98c9c4679791f6beb64059c06d747b
  sitemap.xml
  sitemap.xml.gz
Due: none

fix: move rotation tracking metadata logs to trace
  config.json
  driver.go
  main.go
Due: go-tidy, go-fmt

fix: sonarqube issue, updated docs and smoke-tests and fixed logrus-levels
  config.json
  docs/debugging.md
  docs/rotation.md
  main.go
  readme.md
  scripts/tests/smoke-test-awssm.sh
  scripts/tests/smoke-test-helper.sh
  scripts/tests/smoke-test-openbao.sh
  scripts/tests/smoke-test-vault.sh
Due: go-tidy, go-fmt, eof-newline

fix: added an explicit return statement(sonarqube)
  scripts/tests/smoke-test-helper.sh
Due: eof-newline

fix: move rotation tracking metadata logs to trace (#143)
  config.json
  docs/debugging.md
  docs/rotation.md
  driver.go
  main.go
  readme.md
  scripts/tests/smoke-test-awssm.sh
  scripts/tests/smoke-test-helper.sh
  scripts/tests/smoke-test-openbao.sh
  scripts/tests/smoke-test-vault.sh
Due: go-tidy, go-fmt, eof-newline

deploy: 05f87ab57c3a63124d8ccabe9aded91bdab6ac7e
  debugging/index.html
  index.html
  rotation/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: eof-newline

fix(rotation): remove old secret only after running tasks stop using it
  driver.go
Due: go-tidy, go-fmt

fix: avoid expired context during rotated secret cleanup
  driver.go
Due: go-tidy, go-fmt

fix: cognitive complexity
  driver.go
Due: go-tidy, go-fmt

feat(config): add shared log mount and logging env configuration
  config.json
Due: none

feat(logging): add file-backed logger with rotation support
  logging.go
Due: go-tidy, go-fmt

feat(logging): wire logger initialization and cleanup in main
  main.go
Due: go-tidy, go-fmt

feat: updated debugging and rotation docs to new commands for pulling logs
  docs/debugging.md
  docs/rotation.md
Due: eof-newline

refactor(logging): replace printf with leveled logrus logging in driver
  driver.go
Due: go-tidy, go-fmt

updated readme to add guide for sidecar logs
  readme.md
Due: none

feat: add reusable sidecar for plugin log streaming via compose override
  docker-compose.logs.yml
Due: none

fix: restore semaphore secret checks after mistaken change
  driver.go
Due: go-tidy, go-fmt

fix: resolve log level parser conflict and harden file logging
  logging.go
  main.go
Due: go-tidy, go-fmt

fix: secret rotation prefix matching
  driver.go
  driver_test.go
Due: go-tidy, go-fmt

fix: sonar duplicate-code issue
  driver_test.go
Due: go-tidy, go-fmt

fix: reduce coginitive complexity
  driver_test.go
Due: go-tidy, go-fmt

fix: remove the redundant assignment
  driver.go
Due: go-tidy, go-fmt

fix: secret rotation prefix matching (#149)
  driver.go
  driver_test.go
Due: go-tidy, go-fmt

deploy: a3694ca9db818d7cff012cc421a34e710c303438
  sitemap.xml
  sitemap.xml.gz
Due: none

refactor: translate secrets.Request to SecretInfo once at the edge
  driver.go
  providers/aws.go
  providers/azure.go
  providers/common.go
  providers/gcp.go
  providers/interface.go
  providers/openbao.go
  providers/vault.go
  utils.go
Due: go-tidy, go-fmt, go-vet, go-imports, golangci-lint, gosec, gocyclo, eof-newline

Path conditions:
  go-tidy: any of: {go.mod,*.go}
  go-fmt: any of: *.go
  go-vet: any of: **/*.go
  go-imports: any of: **/*.go
  golangci-lint: any of: **/*.go
  gosec: any of: **/*.go
  gocyclo: any of: **/*.go
  eof-newline: any of: **/*.{go,sh,md,yml,yaml,json,txt}
