Repository sugar-org/swarm-external-secrets: changes, and which lefthook commands are due for each by the changed paths.
All: go-tidy, go-fmt, go-vet, go-imports, golangci-lint, gosec, gocyclo, eof-newline

lefthook.yml:

# lefthook.yml
# This file is automatically generated by setup-hooks.sh

pre-commit:
  parallel: true
  commands:
    go-tidy:
      glob: "{go.mod,*.go}"
      run: go mod tidy && git add go.mod go.sum

    go-fmt:
      glob: "*.go"
      run: |
        for file in {staged_files}; do
          go fmt "$file"
          git add "$file"
        done

    go-vet:
      glob: "**/*.go"
      run: go vet ./...
    # Ensure imports are correctly formatted.
    go-imports:
      glob: "**/*.go"
      run: goimports -w {files} && git add {files}

    # go-test:
    #   glob: "*.go"
    #   run: go test -race ./...

    golangci-lint:
      glob: "**/*.go"
      timeout: 10m
      run: golangci-lint run ./...

    gosec:
      glob: "**/*.go"
      run: gosec ./...

    # Check for cyclomatic complexity. You'll need to install it:
    # `go install github.com/fzipp/gocyclo/cmd/gocyclo@latest`
    gocyclo:
      glob: "**/*.go"
      run: gocyclo -over 17 .
      
    eof-newline:
      help: Fail when a staged file does not end with a POSIX newline
      # pick the extensions you care about; here are the most common text types
      glob: "**/*.{go,sh,md,yml,yaml,json,txt}"
      stage_fixed: true          # lefthook will git-add any file we modify
      run: |
        fixed=0
        for file in {staged_files}; do
          [ -s "$file" ] || continue       # skip empty files
          # last byte → decimal code   (10 == '\n')
          last_byte=$(tail -c1 "$file" | od -An -t u1 | tr -d ' ')
          if [ "$last_byte" != "10" ]; then
            printf '\n' >> "$file"         # append missing newline
            echo "↪  added newline at EOF → $file"
            fixed=$((fixed + 1))
          fi
        done
        echo "✔  fixed $fixed file(s)"
        [ "$fixed" -eq 0 ]

chore(security): Add #nosec annotations to AWS, OpenBao, and Vault client key fields
  providers/aws.go
  providers/openbao.go
  providers/vault.go
  scripts/demo-rotation.sh
Due: go-tidy, go-fmt, go-vet, go-imports, golangci-lint, gosec, gocyclo, eof-newline

refactor: improve secret reuse clarity with positive internal naming
  driver.go
Due: go-tidy, go-fmt

Update scripts/tests/smoke-test-awssm.sh
  scripts/tests/smoke-test-awssm.sh
Due: eof-newline

fix: mark aws-sdk-go-v2/credentials as direct dependency in go.mod
  go.mod
Due: go-tidy

fix: restore all inline comments to aws.go
  providers/aws.go
Due: go-tidy, go-fmt, go-vet, go-imports, golangci-lint, gosec, gocyclo, eof-newline

feat(logging): Enhance secrets-logger command and improve error handling
  docker-compose.yml
  docs/debugging.md
  main.go
  plugin_logger.go
  scripts/deploy.sh
Due: go-tidy, go-fmt, eof-newline

feat: CI: Add aws smoke tests (#65)
  .github/workflows/smoke-tests.yml
  config.json
  go.mod
  providers/aws.go
  scripts/demo-rotation.sh
  scripts/tests/smoke-awssm-compose.yml
  scripts/tests/smoke-test-awssm.sh
  scripts/tests/smoke-test-vault.sh
Due: go-tidy, go-fmt, go-vet, go-imports, golangci-lint, gosec, gocyclo, eof-newline

deploy: e11c2da5623e069d5b54c151c676f90eb39c71b6
  404.html
  CONTRIBUTING/index.html
  debugging/index.html
  monitoring/index.html
  multi-provider/index.html
  readme/index.html
  rotation/index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

fix: lefthook errors
  .github/workflows/smoke-tests.yml
  scripts/tests/smoke-awssm-compose.yml
Due: eof-newline

aws provider: support SecretBinary values in GetSecretValue response
  providers/aws.go
Due: go-tidy, go-fmt, go-vet, go-imports, golangci-lint, gosec, gocyclo, eof-newline

Update aws.go
  providers/aws.go
Due: go-tidy, go-fmt, go-vet, go-imports, golangci-lint, gosec, gocyclo, eof-newline

feat: add VAULT_SKIP_VERIFY and OPENBAO_SKIP_VERIFY options Fixes #14
  go.sum
  providers/openbao.go
  providers/vault.go
Due: go-tidy, go-fmt, go-vet, go-imports, golangci-lint, gosec, gocyclo, eof-newline

feat: add Azure Key Vault smoke tests using LocalStack (#76)
  .github/workflows/smoke-tests.yml
  providers/azure.go
  scripts/tests/smoke-azure-compose.yml
  scripts/tests/smoke-test-azure.sh
Due: go-tidy, go-fmt, go-vet, go-imports, golangci-lint, gosec, gocyclo, eof-newline

fix: add VAULT_SKIP_VERIFY and OPENBAO_SKIP_VERIFY to config.json and smoke tests
  config.json
  scripts/tests/smoke-test-openbao.sh
  scripts/tests/smoke-test-vault.sh
Due: eof-newline

Fix- Improve OpenSSF Score card
  .github/dependabot.yml
  .github/workflows/gh-pages.yml
  .github/workflows/lefthook.yml
  .github/workflows/prow-github.yml
  .github/workflows/prow-pr-automerge.yml
  .github/workflows/prow-pr-remove-lgtm.yml
  .github/workflows/release.yml
  .github/workflows/scorecard.yml
  .github/workflows/smoke-tests.yml
  .github/workflows/vet-ci.yml
  SECURITY.md
Due: eof-newline

text change
  readme.md
Due: none

Fix- openbao as provider is not working bug Something isn't working
  config.json
  docs/multi-provider.md
  driver.go
  providers/factory.go
  providers/openbao.go
Due: go-tidy, go-fmt, go-vet, go-imports, golangci-lint, gosec, gocyclo, eof-newline

[fixed bug]:AWS provider does not handle SecretBinary values
  driver.go
  providers/aws.go
  providers/openbao.go
  providers/vault.go
Due: go-tidy, go-fmt, go-vet, go-imports, golangci-lint, gosec, gocyclo, eof-newline

[Enhanced RFE] Use localstack to validate smoke tests for azure key vault
  .github/workflows/smoke-tests.yml
  .makim.yaml
  providers/azure.go
  scripts/tests/smoke-test-azure.sh
Due: go-tidy, go-fmt, go-vet, go-imports, golangci-lint, gosec, gocyclo, eof-newline

more changes
  scripts/tests/azure_kv_mock_server.py
  scripts/tests/smoke-azure-compose.yml
Due: eof-newline

test: add rotation in AWS smoke test with base64 encoded binary secret
  scripts/tests/smoke-test-awssm.sh
Due: eof-newline

Refactor getAWSSecretValue for better secret handling
  providers/aws.go
Due: go-tidy, go-fmt, go-vet, go-imports, golangci-lint, gosec, gocyclo, eof-newline

Update smoke-test-awssm.sh
  scripts/tests/smoke-test-awssm.sh
Due: eof-newline

Refactor function and response field names for secret reuse clarity (shouldNotReuse ➔ shouldCreateSecret, DoNotReuse ➔ CreateSecret) in driver.go
  driver.go
Due: go-tidy, go-fmt

fix: revert unnecessary go.sum changes
  go.sum
Due: none

fix: suppress gosec G117 false positives on config struct fields
  providers/aws.go
  providers/openbao.go
  providers/vault.go
Due: go-tidy, go-fmt, go-vet, go-imports, golangci-lint, gosec, gocyclo, eof-newline

feat: add webhook-based secret rotation for Vault provider with hash detection, versioned secrets, and USE_WEBHOOK fallback
  WEBHOOK_GUIDE.md
  config.json
  driver.go
  providers/aws.go
  providers/azure.go
  providers/factory.go
  providers/gcp.go
  providers/interface.go
  providers/openbao.go
  providers/types/types.go
  providers/utils.go
  providers/vault/provider.go
  providers/vault/webhook.go
  test-webhook-plugin.sh
  webhook-test/.gitignore
  webhook-test/go.mod
  webhook-test/go.sum
  webhook-test/test-webhook.sh
  webhook-test/webhook-listener.go
Due: go-tidy, go-fmt, go-vet, go-imports, golangci-lint, gosec, gocyclo, eof-newline

fix: fix AWS secret rotation by aligning hash detection with GetSecret logic
  providers/aws.go
Due: go-tidy, go-fmt, go-vet, go-imports, golangci-lint, gosec, gocyclo, eof-newline

Update providers/openbao.go
  providers/openbao.go
Due: go-tidy, go-fmt, go-vet, go-imports, golangci-lint, gosec, gocyclo, eof-newline

fix: add missing newlines at EOF
  .github/workflows/smoke-tests.yml
  docs/CONTRIBUTING.md
  docs/readme.md
  providers/openbao.go
  providers/vault.go
  scripts/tests/smoke-awssm-compose.yml
Due: go-tidy, go-fmt, go-vet, go-imports, golangci-lint, gosec, gocyclo, eof-newline

fix: persist secret labels at track time to fix rotation on older Docker
  driver.go
  providers/types/types.go
Due: go-tidy, go-fmt, go-vet, go-imports, golangci-lint, gosec, gocyclo, eof-newline

refactored comments to improve readability
  driver.go
Due: go-tidy, go-fmt

fix: revert unintended file changes
  .github/workflows/smoke-tests.yml
  docs/CONTRIBUTING.md
  docs/readme.md
  lefthook.yml
  providers/aws.go
  scripts/tests/smoke-awssm-compose.yml
Due: go-tidy, go-fmt, go-vet, go-imports, golangci-lint, gosec, gocyclo, eof-newline

fix: revert unintended changes and update TLS comments
  lefthook.yml
Due: none

docs: add TLS configuration variables for Vault and OpenBao providers
  .github/workflows/smoke-tests.yml
  docs/CONTRIBUTING.md
  docs/multi-provider.md
  docs/readme.md
  providers/vault.go
  scripts/tests/smoke-awssm-compose.yml
Due: go-tidy, go-fmt, go-vet, go-imports, golangci-lint, gosec, gocyclo, eof-newline

docs: remove undocumented TLS cert variables keep only SKIP_VERIFY
  .github/workflows/smoke-tests.yml
  docs/CONTRIBUTING.md
  docs/multi-provider.md
  docs/readme.md
  scripts/tests/smoke-awssm-compose.yml
Due: eof-newline

feat: add VAULT_SKIP_VERIFY and OPENBAO_SKIP_VERIFY options Fixes #14
  config.json
  docs/multi-provider.md
  providers/openbao.go
  providers/vault.go
  scripts/tests/smoke-test-openbao.sh
  scripts/tests/smoke-test-vault.sh
Due: go-tidy, go-fmt, go-vet, go-imports, golangci-lint, gosec, gocyclo, eof-newline
