Repository sugar-org/swarm-external-secrets: changes, and which lefthook commands are due for each by the changed paths.
All: go-tidy, go-fmt, go-vet, go-imports, golangci-lint, gosec, gocyclo, eof-newline

go-tidy:
  run: go mod tidy && git add go.mod go.sum

go-fmt:
  run: "for file in {staged_files}; do\n  go fmt \"$file\"\n  git add \"$file\"\ndone\n"

go-vet:
  run: go vet ./...

go-imports:
  run: goimports -w {files} && git add {files}

golangci-lint:
  timeout: 10m
  run: golangci-lint run ./...

gosec:
  run: gosec ./...

gocyclo:
  run: gocyclo -over 17 .

eof-newline:
  help: Fail when a staged file does not end with a POSIX newline
  stage_fixed: true
  ...

fix: Add nosec on sensitive keys to satisfy gosec (#128)
  providers/aws.go
  providers/openbao.go
  providers/vault.go
  scripts/tests/smoke-awssm-compose.yml
Due: go-tidy, go-fmt, go-vet, go-imports, golangci-lint, gosec, gocyclo, eof-newline

deploy: 26cbe7fc41128b594300809c4e4463e8afa66f7c
  sitemap.xml
  sitemap.xml.gz
Due: none

refactor: reduce complexity and deduplicate literals (#120)
  driver.go
  monitoring/web.go
  utils.go
Due: go-tidy, go-fmt, go-vet, go-imports, golangci-lint, gosec, gocyclo, eof-newline

Update docs links and dev env name
  CONTRIBUTING.md
  conda/dev.yaml
  readme.md
Due: eof-newline

fix: broken links and setup (#126)
  CONTRIBUTING.md
  conda/dev.yaml
  docs/gcp.md
  readme.md
Due: eof-newline

deploy: a954d16a9f59765ed1ee68b2806c0fa95161cbf4
  CONTRIBUTING/index.html
  gcp/index.html
  search/search_index.json
Due: eof-newline

Update scripts/tests/smoke-test-awssm.sh
  scripts/tests/smoke-test-awssm.sh
Due: eof-newline

refac: removed load plugin image commands
  .github/workflows/tag-release.yml
Due: eof-newline

patch: removed unused vars in main.go
  main.go
Due: go-tidy, go-fmt

patch: removed repeated logic of checking docker hub cred, we handle it in login step
  .github/workflows/release.yml
Due: eof-newline

chore: removed rebuilding plugin logic, now we download plugin artifacts while pushing
  .github/workflows/release.yml
Due: eof-newline

chore: fixed sbom tag to current hash
  .github/workflows/release.yml
Due: eof-newline

fix: respect custom KV v2 mount paths for Vault and OpenBao and verify Openbao
  docs/multi-provider.md
  driver.go
  providers/kv_path.go
  providers/openbao.go
  providers/vault.go
  scripts/tests/smoke-test-openbao.sh
  vault_conf/admin.hcl
Due: go-tidy, go-fmt, go-vet, go-imports, golangci-lint, gosec, gocyclo, eof-newline

fix: respect custom Vault and OpenBao mount paths
  docs/multi-provider.md
  docs/rotation.md
  driver.go
  utils.go
Due: go-tidy, go-fmt, eof-newline

copilot suggestions addressed
  driver.go
  internal/kvpath/kv_path.go
  providers/kv_path.go
  providers/openbao.go
  providers/vault.go
  utils.go
Due: go-tidy, go-fmt, go-vet, go-imports, golangci-lint, gosec, gocyclo, eof-newline

ci: consolidate release pipeline jobs into release workflow
  .github/workflows/release.yml
Due: eof-newline

chore: decoupled ci.yml and tag-release.yml into realeas.yml as separate jobs.
  .github/workflows/ci.yml
  .github/workflows/tag-release.yml
Due: eof-newline

patch: removed smoke tests from release pipeline
  .github/workflows/release.yml
Due: eof-newline

chore: removed global read permission and added it to each job particularly.
  .github/workflows/release.yml
Due: eof-newline

fix: align secret_reuse label with docs (DoNotReuse inverted)
  driver.go
Due: go-tidy, go-fmt

chore: removed goreleaser ldflags as we dont have any version (we had manual versioning)
  .goreleaser.yaml
Due: none

fixed versioning of go releaser in release.yml to match overall
  .github/workflows/release.yml
Due: eof-newline

fixed suggestions by copilot
  .github/workflows/release.yml
Due: eof-newline

fix: align secret_reuse label with docs (DoNotReuse inverted) (#131)
  driver.go
Due: go-tidy, go-fmt

deploy: c3a1c976988953238968b315a18b44e2ed6d45da
  sitemap.xml
  sitemap.xml.gz
Due: none

update .github/workflows/release.yml
  .github/workflows/release.yml
Due: eof-newline

change from ./artifacts to /tmp
  .github/workflows/release.yml
Due: eof-newline

chore: change plugin path to /tmp
  .github/workflows/release.yml
Due: eof-newline

ci: reuse plugin image artifact in release workflow.
  .github/workflows/release.yml
Due: eof-newline

fix: reuse plugin artifact for docker plugin release and pin login action SHA
  .github/workflows/release.yml
Due: eof-newline

fix: restore monitoring dashboard rendering
  monitoring/web.go
  monitoring/web_test.go
Due: go-tidy, go-fmt, go-vet, go-imports, golangci-lint, gosec, gocyclo, eof-newline

refactor: adjust concurrency limit for secret checks in driver.go
  driver.go
Due: go-tidy, go-fmt

fix: removed emojis
  monitoring/web.go
Due: go-tidy, go-fmt, go-vet, go-imports, golangci-lint, gosec, gocyclo, eof-newline

fix: restore monitoring dashboard rendering (#132)
  monitoring/web.go
  monitoring/web_test.go
Due: go-tidy, go-fmt, go-vet, go-imports, golangci-lint, gosec, gocyclo, eof-newline

deploy: 8299d529090374812be83850340d494817969dca
  sitemap.xml
  sitemap.xml.gz
Due: none

feat: separated CI workflow and added GoReleaser configuration to add release tags automated (#98)
  .github/workflows/release.yml
  .goreleaser.yaml
  scripts/build-plugin.sh
Due: eof-newline

fix(ci): update tag regex pattern and goreleaser action version in release workflow
  .github/workflows/release.yml
Due: eof-newline

fix(ci): update tag regex pattern and goreleaser action version in release workflow (#134)
  .github/workflows/release.yml
Due: eof-newline

fix(ci): add Docker Hub credentials to environment variables in release workflow
  .github/workflows/release.yml
Due: eof-newline

Path conditions:
  go-tidy: any of: {go.mod,*.go}
  go-fmt: any of: *.go
  go-vet: any of: **/*.go
  go-imports: any of: **/*.go
  golangci-lint: any of: **/*.go
  gosec: any of: **/*.go
  gocyclo: any of: **/*.go
  eof-newline: any of: **/*.{go,sh,md,yml,yaml,json,txt}
