Repository sugar-org/swarm-external-secrets: changes, and which lefthook commands are due for each by the changed paths.
All: go-tidy, go-fmt, go-vet, go-imports, golangci-lint, gosec, gocyclo, eof-newline

go-tidy:
  run: go mod tidy && git add go.mod go.sum

go-fmt:
  run: "for file in {staged_files}; do\n  go fmt \"$file\"\n  git add \"$file\"\ndone\n"

go-vet:
  run: go vet ./...

go-imports:
  run: goimports -w {files} && git add {files}

golangci-lint:
  timeout: 10m
  run: golangci-lint run ./...

gosec:
  run: gosec ./...

gocyclo:
  run: gocyclo -over 17 .

eof-newline:
  help: Fail when a staged file does not end with a POSIX newline
  stage_fixed: true
  ...

fix: Increase secret rotation verification timeout in OpenBao and Vault smoke tests from 60 to 180 seconds.
  scripts/tests/smoke-test-openbao.sh
  scripts/tests/smoke-test-vault.sh
Due: eof-newline

refactor: Use function instead of for rotated secret verification in smoke tests.
  scripts/tests/smoke-test-openbao.sh
  scripts/tests/smoke-test-vault.sh
Due: eof-newline

refactor: Remove helper functions for container-specific secret verification and ID retrieval.
  scripts/tests/smoke-test-helper.sh
Due: eof-newline

feat: add helper function to get running container ID for a swarm service.
  scripts/tests/smoke-test-helper.sh
Due: eof-newline

refactor: Update scripts/tests/smoke-test-vault.sh
  scripts/tests/smoke-test-vault.sh
Due: eof-newline

refactor: Update .makim.yaml
  .makim.yaml
Due: none

refactor: Update scripts/tests/smoke-test-openbao.sh
  scripts/tests/smoke-test-openbao.sh
Due: eof-newline

feat: Add in-place container rotation verification to Vault smoke test and clarify OpenBao script comment.
  scripts/tests/smoke-test-openbao.sh
  scripts/tests/smoke-test-vault.sh
Due: eof-newline

Remove container restart verification from OpeanBao and Vault smoke tests.
  scripts/tests/smoke-test-openbao.sh
  scripts/tests/smoke-test-vault.sh
Due: eof-newline

deploy: d9f660525000dd4e0d7add5b2d45e030f5d529b5
  sitemap.xml
  sitemap.xml.gz
Due: none

feat: add AWS Secrets Manager smoke test using LocalStack
  config.json
  providers/aws.go
  scripts/smoke-awssm-compose.yml
  scripts/smoke-test-awssm.sh
Due: go-tidy, go-fmt, go-vet, go-imports, golangci-lint, gosec, gocyclo, eof-newline

.gitignore updated
  .gitignore
Due: none

changes to config.json
  config.json
Due: none

docs: Add pull request template for contributions
  .github/PULL_REQUEST_TEMPLATE.md
Due: eof-newline

updated smoke-test.yml, smoke-test-awssm.sh
  .github/workflows/smoke-tests.yml
  scripts/smoke-test-awssm.sh
Due: eof-newline

fix: change func name
  driver.go
Due: go-tidy, go-fmt

feat(logging): Implement rotating file logging for plugin and enhance error logging
  config.json
  docs/debugging.md
  driver.go
  main.go
  plugin_logger.go
  readme.md
Due: go-tidy, go-fmt, eof-newline

feat: move awssm smoke test to scripts/tests and add LocalStack CI config
  scripts/tests/smoke-awssm-compose.yml
  scripts/tests/smoke-test-awssm.sh
Due: eof-newline

Refactor smoke-test-helper.sh for improved readability
  scripts/smoke-test-helper.sh
Due: eof-newline

fix: set SCRIPT_DIR and REPO_ROOT in awssm smoke test for CI compatibility
  scripts/smoke-awssm-compose.yml
  scripts/smoke-test-awssm.sh
  scripts/tests/smoke-test-awssm.sh
Due: eof-newline

refactoring to imporve readability
  scripts/smoke-test-vault.sh
  scripts/tests/smoke-test-awssm.sh
  scripts/tests/smoke-test-helper.sh
  scripts/tests/smoke-test-openbao.sh
  scripts/tests/smoke-test-vault.sh
Due: eof-newline

refactoring to improve readability
  scripts/demo-rotation.sh
  scripts/smoke-test-openbao.sh
  scripts/tests/smoke-test-helper.sh
Due: eof-newline

refactoring to improve readability
  scripts/smoke-test-helper.sh
Due: eof-newline

chore: remove duplicate scripts and revert unintended changes
  .gitignore
  scripts/demo-rotation.sh
  scripts/smoke-openbao-compose.yml
  scripts/smoke-test-helper.sh
Due: eof-newline

chore: remove old pre-migration smoke test files from scripts/
  scripts/smoke-test-openbao.sh
  scripts/smoke-test-vault.sh
  scripts/smoke-vault-compose.yml
Due: eof-newline

chore: restore upstream versions of smoke-test-helper and smoke-test-openbao
  scripts/tests/smoke-test-helper.sh
  scripts/tests/smoke-test-openbao.sh
Due: eof-newline

fix: correct EndpointURL placement in AWS SDK v2 client using functional options
  providers/aws.go
Due: go-tidy, go-fmt, go-vet, go-imports, golangci-lint, gosec, gocyclo, eof-newline

fix: increase rotation verification timeout and wait time for CI
  scripts/tests/smoke-test-awssm.sh
Due: eof-newline

adding new line for left-hook
  .github/workflows/smoke-tests.yml
  scripts/demo-rotation.sh
  scripts/tests/smoke-awssm-compose.yml
  scripts/tests/smoke-test-awssm.sh
Due: eof-newline

Update driver.go
  driver.go
Due: go-tidy, go-fmt

feat: add structured JSON logging with optional file output and rotation support
  config.json
  driver.go
  go.mod
  go.sum
  main.go
Due: go-tidy, go-fmt

feat: Implement plugin file logging with a `secrets-logger` sidecar for log visibility
  docker-compose.yml
  readme.md
  scripts/deploy.sh
Due: eof-newline

fix: logging
  readme.md
Due: none

feat(logging): Add LOG_LEVEL configuration for enhanced logging control
  config.json
  plugin_logger.go
Due: go-tidy, go-fmt

refactor(logging): Update file permissions for log directory and files
  plugin_logger.go
  readme.md
  scripts/tests/smoke-test-helper.sh
Due: go-tidy, go-fmt, eof-newline

Path conditions:
  go-tidy: any of: {go.mod,*.go}
  go-fmt: any of: *.go
  go-vet: any of: **/*.go
  go-imports: any of: **/*.go
  golangci-lint: any of: **/*.go
  gosec: any of: **/*.go
  gocyclo: any of: **/*.go
  eof-newline: any of: **/*.{go,sh,md,yml,yaml,json,txt}
