Repository sugar-org/swarm-external-secrets: changes, and which lefthook commands are due for each by the changed paths.
All: go-tidy, go-fmt, go-vet, go-imports, golangci-lint, gosec, gocyclo

lefthook.yml:

# lefthook.yml
# This file is automatically generated by setup-hooks.sh

pre-commit:
  parallel: true
  commands:
    go-tidy:
      glob: "{go.mod,*.go}"
      run: go mod tidy && git add go.mod go.sum

    go-fmt:
      glob: "*.go"
      run: |
        for file in {staged_files}; do
          go fmt "$file"
          git add "$file"
        done

    go-vet:
      glob: "*.go"
      run: go vet ./...

    # Ensure imports are correctly formatted.
    go-imports:
      glob: "*.go"
      run: goimports -w {staged_files} && git add {staged_files}

    # go-test:
    #   glob: "*.go"
    #   run: go test -race ./...

    golangci-lint:
      glob: "*.go"
      run: golangci-lint run ./...

    gosec:
      glob: "*.go"
      run: gosec ./...

    # Check for cyclomatic complexity. You'll need to install it:
    # `go install github.com/fzipp/gocyclo/cmd/gocyclo@latest`
    gocyclo:
      glob: "*.go"
      run: gocyclo -over 17 .

feat: Implement VaultDriver with multi-provider support and secret rotation functionality
  driver.go
  scripts/cleanup.sh
Due: go-tidy, go-fmt, go-vet, go-imports, golangci-lint, gosec, gocyclo

Refactor: Update driver initialization and configuration handling and fixed the OpenBao provider testing
  config.json
  docker-compose.yml
  driver.go
  go.mod
  go.sum
  main.go
  providers/openbao.go
  providers/vault.go
  scripts/deploy.sh
  utils.go
Due: go-tidy, go-fmt, go-vet, go-imports, golangci-lint, gosec, gocyclo

feat: Add AWS and Azure configuration options to the plugin and improve error messaging in AWS provider
  config.json
  docker-compose.yml
  providers/aws.go
Due: go-tidy, go-fmt, go-vet, go-imports, golangci-lint, gosec, gocyclo

feat: Added partial support structured code to GCP Secrets manager provider
  .gitignore
  config.json
  docker-compose.yml
  driver.go
  go.mod
  go.sum
  monitoring/web.go
  providers/azure.go
  providers/gcp.go
  scripts/deploy.sh
Due: go-tidy, go-fmt, go-vet, go-imports, golangci-lint, gosec, gocyclo

refactor: removed azure restapi based key vault login and replaced with azure go sdk
  docker-compose.yml
  go.mod
  go.sum
  providers/azure.go
  scripts/deploy.sh
Due: go-tidy, go-fmt, go-vet, go-imports, golangci-lint, gosec, gocyclo

feat: Add GitHub workflows for vetting OSS components and building/releasing the plugin
  .github/vet/policy.yml
  .github/workflows/lefthook.yml
  .github/workflows/release.yml
  .github/workflows/vet-ci.yml
  .gitignore
  .makim.yaml
  docker-compose.yml
  providers/factory.go
  providers/interface.go
Due: go-tidy, go-fmt, go-vet, go-imports, golangci-lint, gosec, gocyclo

fix: Update Go version in workflows and streamline pre-commit hooks
  .github/workflows/lefthook.yml
  .github/workflows/release.yml
  lefthook.yml
Due: none

fix: Update module name to match repository path
  demo.sh
  go.mod
Due: go-tidy

fix: Update import paths and refine glob patterns in pre-commit hooks
  driver.go
  lefthook.yml
Due: go-tidy, go-fmt, go-vet, go-imports, golangci-lint, gosec, gocyclo

refactor: Remove commented-out Azure and GCP plugin configuration settings
  scripts/deploy.sh
Due: none

deploy: 0f50dc3e1f37c34b5cd3e410b7891b2ce4183afd
  MONITORING.html
  MULTI_PROVIDER.html
  ROTATION.html
  archives/project-1.zip
  glossary/hyperbook.html
  index.html
Due: none

fix: Fix scripts infrastructure; add support for makim and conda
  .makim.yaml
  conda/dev.yaml
  scripts/build.sh
  scripts/check_plugin_service.sh
  scripts/cleanup.sh
  scripts/demo-rotation.sh
  scripts/deploy.sh
  scripts/run.sh
  scripts/test.sh
  setup-hooks.sh
Due: none

fix eol
  .github/vet/policy.yml
  .github/workflows/release.yml
  .github/workflows/vet-ci.yml
  .makim.yaml
  docs/MONITORING.md
  docs/MULTI_PROVIDER.md
  docs/ROTATION.md
  docs/book/MONITORING.md
  docs/book/MULTI_PROVIDER.md
  docs/book/ROTATION.md
  docs/book/index.md
  lefthook.yml
  scripts/linter.sh
Due: none

fix: Fix scripts infrastructure; add support for makim and conda (#5)
  .github/vet/policy.yml
  .github/workflows/release.yml
  .github/workflows/vet-ci.yml
  .makim.yaml
  conda/dev.yaml
  docs/MONITORING.md
  docs/MULTI_PROVIDER.md
  docs/ROTATION.md
  docs/book/MONITORING.md
  docs/book/MULTI_PROVIDER.md
  docs/book/ROTATION.md
  docs/book/index.md
  lefthook.yml
  scripts/build.sh
  scripts/check_plugin_service.sh
  scripts/cleanup.sh
  scripts/demo-rotation.sh
  scripts/deploy.sh
  scripts/linter.sh
  scripts/run.sh
  scripts/test.sh
  setup-hooks.sh
Due: none

deploy: 350999546232e4fc78e3208b2fbc14ce0d2419b3
  archives/project-1.zip
Due: none

refactor: add architecture and docs for debugging the plugin
  docs/DEBUG_PLUGIN.md
  docs/architecture.png
  readme.md
Due: none

refactor: add architecture and docs for debugging the plugin (#6)
  docs/DEBUG_PLUGIN.md
  docs/architecture.png
  readme.md
Due: none

deploy: dae91625623c7d1fef306bd4bf04dacd5e0c6cd7
  archives/project-1.zip
Due: none

Update hyperbook.json
  docs/hyperbook.json
Due: none

deploy: db7fb047a416f84819e66863f916fafcaca0e2f0
  MONITORING.html
  MULTI_PROVIDER.html
  ROTATION.html
  archives/project-1.zip
  glossary/hyperbook.html
  index.html
Due: none

docs: update repository name to docs
  docs/hyperbook.json
Due: none

deploy: 601e318fd2d8aabfb7587abf3a011566ac66c80c
  MONITORING.html
  MULTI_PROVIDER.html
  ROTATION.html
  archives/project-1.zip
  glossary/hyperbook.html
  index.html
Due: none

Update readme.md
  readme.md
Due: none

deploy: 0893fcda079d498854867edc4175c9ce38c79a39
  archives/project-1.zip
Due: none

feat: Update docker-compose and deploy scripts for GCP integration
  docker-compose.yml
  scripts/deploy.sh
Due: none

feat: Update GCP secret names and enhance deployment script for improved configuration
  docker-compose.yml
  providers/gcp.go
  scripts/deploy.sh
Due: go-tidy, go-fmt, go-vet, go-imports, golangci-lint, gosec, gocyclo

fix: secret's retrieval from GCP secrets manager , rotation and swarm stack secrets updation (#8)
  docker-compose.yml
  providers/gcp.go
  scripts/deploy.sh
  setup-hooks.sh
Due: go-tidy, go-fmt, go-vet, go-imports, golangci-lint, gosec, gocyclo

deploy: de9d03c2e3d2980f0e13988c8c97d77aa480f84e
  archives/project-1.zip
Due: none

Add Scorecard workflow for supply-chain security
  .github/workflows/scorecard.yml
Due: none

deploy: 53ff6670d5d149236229440f98018eb9579f66f0
  MONITORING.html
  MULTI_PROVIDER.html
  ROTATION.html
  __hyperbook_assets/client.js
  __hyperbook_assets/content.css
  __hyperbook_assets/dark-mode-toggle.js
  __hyperbook_assets/dexie-export-import.js
  __hyperbook_assets/dexie.min.js
  __hyperbook_assets/i18n.js
  __hyperbook_assets/shell.css
  __hyperbook_assets/store.js
  archives/project-1.zip
  glossary/hyperbook.html
  index.html
Due: none

Add ossf scorecard badge
  readme.md
Due: none

Increased golanglint ci timeout to 10m
  .github/workflows/lefthook.yml
  lefthook.yml
Due: none

Corrected golanglint ci timeout to 10m
  lefthook.yml
Due: none

Add ossf scorecard badge (#11)
  .github/workflows/lefthook.yml
  lefthook.yml
  readme.md
Due: none

deploy: 86dc26ac958e08d222016583939f9cffc48786a2
  archives/project-1.zip
Due: none

feat: create root-level build.sh script
  build.sh
Due: none

chore: add gh issue template
  .github/ISSUE_TEMPLATE/BUG_REPORT.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

chore: add gh issue template (#15)
  .github/ISSUE_TEMPLATE/BUG_REPORT.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none
