Repository sugar-org/swarm-external-secrets: changes, and which lefthook commands are due for each by the changed paths.
All: go-tidy, go-fmt, go-vet, go-imports, golangci-lint, gosec, gocyclo, eof-newline

lefthook.yml:

# lefthook.yml
# This file is automatically generated by setup-hooks.sh

pre-commit:
  parallel: true
  commands:
    go-tidy:
      glob: "{go.mod,*.go}"
      run: go mod tidy && git add go.mod go.sum

    go-fmt:
      glob: "*.go"
      run: |
        for file in {staged_files}; do
          go fmt "$file"
          git add "$file"
        done

    go-vet:
      glob: "**/*.go"
      run: go vet ./...
    # Ensure imports are correctly formatted.
    go-imports:
      glob: "**/*.go"
      run: goimports -w {files} && git add {files}

    # go-test:
    #   glob: "*.go"
    #   run: go test -race ./...

    golangci-lint:
      glob: "**/*.go"
      timeout: 10m
      run: golangci-lint run ./...

    gosec:
      glob: "**/*.go"
      run: gosec ./...

    # Check for cyclomatic complexity. You'll need to install it:
    # `go install github.com/fzipp/gocyclo/cmd/gocyclo@latest`
    gocyclo:
      glob: "**/*.go"
      run: gocyclo -over 17 .
      
    eof-newline:
      help: Fail when a staged file does not end with a POSIX newline
      # pick the extensions you care about; here are the most common text types
      glob: "**/*.{go,sh,md,yml,yaml,json,txt}"
      stage_fixed: true          # lefthook will git-add any file we modify
      run: |
        fixed=0
        for file in {staged_files}; do
          [ -s "$file" ] || continue       # skip empty files
          # last byte → decimal code   (10 == '\n')
          last_byte=$(tail -c1 "$file" | od -An -t u1 | tr -d ' ')
          if [ "$last_byte" != "10" ]; then
            printf '\n' >> "$file"         # append missing newline
            echo "↪  added newline at EOF → $file"
            fixed=$((fixed + 1))
          fi
        done
        echo "✔  fixed $fixed file(s)"
        [ "$fixed" -eq 0 ]

feat: add Infisical secrets provider (#179)
  .github/vet/exceptions.yml
  .github/workflows/smoke-tests.yml
  .github/workflows/vet-ci.yml
  .makim.yaml
  config.json
  docs/infisical.md
  docs/multi-provider.md
  go.mod
  go.sum
  mkdocs.yml
  providers/factory.go
  providers/gcp.go
  providers/infisical.go
  providers/infisical_retry_test.go
  providers/infisical_test.go
  readme.md
  scripts/tests/infisical-local.sh
  scripts/tests/smoke-infisical-compose.yml
  scripts/tests/smoke-test-helper.sh
  scripts/tests/smoke-test-infisical.sh
Due: go-tidy, go-fmt, go-vet, go-imports, golangci-lint, gosec, gocyclo, eof-newline

deploy: 6b161f39adfcd4a246344e9fd76e0b5286444b09
  404.html
  CONTRIBUTING/index.html
  debugging/index.html
  gcp/index.html
  index.html
  infisical/index.html
  monitoring/index.html
  multi-provider/index.html
  rotation/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: eof-newline

fix: support OpenBao KV v1 paths via OPENBAO_KV_VERSION
  config.json
  docs/multi-provider.md
  internal/kvpath/kv_path.go
  internal/vaultcompat/config.go
  providers/openbao.go
  providers/openbao_test.go
  scripts/tests/smoke-test-openbao-kv1.sh
Due: go-tidy, go-fmt, go-vet, go-imports, golangci-lint, gosec, gocyclo, eof-newline

feat: add base64_decode label to decode Vault secrets before use
  docs/multi-provider.md
  driver.go
  driver_test.go
  readme.md
Due: go-tidy, go-fmt, eof-newline

fix: address OpenBao KV v1 review findings
  internal/kvpath/kv_path.go
  providers/openbao_test.go
  scripts/tests/smoke-test-openbao-kv1.sh
Due: go-tidy, go-fmt, go-vet, go-imports, golangci-lint, gosec, gocyclo, eof-newline

fix: address review feedback for base64_decode
  docs/multi-provider.md
  driver.go
  driver_test.go
  readme.md
Due: go-tidy, go-fmt, eof-newline

[200~docs: add human-reviewed AI contribution policy~
  .github/PULL_REQUEST_TEMPLATE.md
  .github/REPOSITORY_GOVERNANCE.md
  AGENTS.md
  CONTRIBUTING.md
Due: eof-newline

docs: add human-reviewed AI contribution policy (#205)
  .github/PULL_REQUEST_TEMPLATE.md
  .github/REPOSITORY_GOVERNANCE.md
  AGENTS.md
  CONTRIBUTING.md
Due: eof-newline

deploy: f63f449701940dce851e26f1e1a85e6ecb177947
  CONTRIBUTING/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: eof-newline

refactor: scope base64_decode to the Vault provider
  driver.go
  driver_test.go
  providers/vault.go
  providers/vault_test.go
Due: go-tidy, go-fmt, go-vet, go-imports, golangci-lint, gosec, gocyclo, eof-newline

docs: scope base64_decode docs to HashiCorp Vault
  docs/multi-provider.md
  readme.md
Due: eof-newline

test: refactor vault base64 tests to reduce cognitive complexity
  providers/vault.go
  providers/vault_test.go
Due: go-tidy, go-fmt, go-vet, go-imports, golangci-lint, gosec, gocyclo, eof-newline

fix: preserve literal data/ in KV v1 paths and add VAULT_KV_VERSION
  config.json
  docs/multi-provider.md
  internal/kvpath/kv_path.go
  internal/vaultcompat/config.go
  providers/openbao_test.go
  providers/vault.go
  providers/vault_test.go
Due: go-tidy, go-fmt, go-vet, go-imports, golangci-lint, gosec, gocyclo, eof-newline

fix: read KV v1 fields directly without unwrapping nested data
  internal/utils/utils.go
  internal/vaultcompat/backend.go
  internal/vaultcompat/backend_test.go
  providers/common.go
Due: go-tidy, go-fmt, go-vet, go-imports, golangci-lint, gosec, gocyclo, eof-newline
