Repository sugar-org/swarm-external-secrets: changes, and which lefthook commands are due for each by the changed paths.
All: go-tidy, go-fmt, go-vet, go-imports, golangci-lint, gosec, gocyclo, eof-newline

lefthook.yml:

# lefthook.yml
# This file is automatically generated by setup-hooks.sh

pre-commit:
  parallel: true
  commands:
    go-tidy:
      glob: "{go.mod,*.go}"
      run: go mod tidy && git add go.mod go.sum

    go-fmt:
      glob: "*.go"
      run: |
        for file in {staged_files}; do
          go fmt "$file"
          git add "$file"
        done

    go-vet:
      glob: "**/*.go"
      run: go vet ./...
    # Ensure imports are correctly formatted.
    go-imports:
      glob: "**/*.go"
      run: goimports -w {files} && git add {files}

    # go-test:
    #   glob: "*.go"
    #   run: go test -race ./...

    golangci-lint:
      glob: "**/*.go"
      timeout: 10m
      run: golangci-lint run ./...

    gosec:
      glob: "**/*.go"
      run: gosec ./...

    # Check for cyclomatic complexity. You'll need to install it:
    # `go install github.com/fzipp/gocyclo/cmd/gocyclo@latest`
    gocyclo:
      glob: "**/*.go"
      run: gocyclo -over 17 .
      
    eof-newline:
      help: Fail when a staged file does not end with a POSIX newline
      # pick the extensions you care about; here are the most common text types
      glob: "**/*.{go,sh,md,yml,yaml,json,txt}"
      stage_fixed: true          # lefthook will git-add any file we modify
      run: |
        fixed=0
        for file in {staged_files}; do
          [ -s "$file" ] || continue       # skip empty files
          # last byte → decimal code   (10 == '\n')
          last_byte=$(tail -c1 "$file" | od -An -t u1 | tr -d ' ')
          if [ "$last_byte" != "10" ]; then
            printf '\n' >> "$file"         # append missing newline
            echo "↪  added newline at EOF → $file"
            fixed=$((fixed + 1))
          fi
        done
        echo "✔  fixed $fixed file(s)"
        [ "$fixed" -eq 0 ]

docs: Add updates section for GSoC 2026
  readme.md
Due: none

deploy: db2482491608d8229dfd658ece42ef97a7b29e98
  archives/project-1.zip
Due: none

docs: migrate documentation to Material for MkDocs and enable strict CI validation (Closes #31)
  .gitignore
  .makim.yaml
  docs/book/index.md
  docs/index.md
  mkdocs.yml
Due: eof-newline

fix: resolve gosec G117 by unexporting secret-related config fields (Closes #30)
  providers/aws.go
  providers/openbao.go
  providers/vault.go
Due: go-tidy, go-fmt, go-vet, go-imports, golangci-lint, gosec, gocyclo, eof-newline

fix: resolve gosec G117 by unexporting secret-related config fields (#33)
  providers/aws.go
  providers/openbao.go
  providers/vault.go
Due: go-tidy, go-fmt, go-vet, go-imports, golangci-lint, gosec, gocyclo, eof-newline

deploy: ea2f1c143a1ce6113a80c4a3c5395401d2fa04ca
  archives/project-1.zip
Due: none

Update mkdocs.yml
  mkdocs.yml
Due: none

Remove comment from CI tasks in .makim.yaml
  .makim.yaml
Due: none

Update index.md
  docs/book/index.md
Due: eof-newline

fix(azure): correctly handle versioned Docker secrets during rotation (Closes #28)
  driver.go
Due: go-tidy, go-fmt

ci: add mkdocs strict build to GitHub Actions
  .github/workflows/docs.yml
Due: eof-newline

docs: add mkdocs-material dependency for Netlify build
  requirements.txt
Due: none

docs: add minimal mkdocs setup and ignore build output
  .gitignore
  docs/index.md
  mkdocs.yml
Due: eof-newline

refactor: Migrate documentation from Hyperbook to MkDocs, consolidating content and updating README links.
  .github/workflows/gh-pages.yml
  .gitignore
  .makim.yaml
  conda/dev.yaml
  docs/MULTI_PROVIDER.md
  docs/ROTATION.md
  docs/archives/project-1/index.md
  docs/book/MONITORING.md
  docs/book/MULTI_PROVIDER.md
  docs/book/favicon.ico
  docs/book/index.md
  docs/book/logo.png
  docs/debugging.md
  docs/glossary/hyperbook.md
  docs/hyperbook.json
  docs/monitoring.md
  docs/multi-provider.md
  docs/readme.md
  docs/rotation.md
  mkdocs.yml
  readme.md
Due: eof-newline

refactor: Migrate documentation from Hyperbook to MkDocs, consolidating content and updating README links. (#35)
  .github/workflows/gh-pages.yml
  .gitignore
  .makim.yaml
  conda/dev.yaml
  docs/MULTI_PROVIDER.md
  docs/ROTATION.md
  docs/archives/project-1/index.md
  docs/book/MONITORING.md
  docs/book/MULTI_PROVIDER.md
  docs/book/favicon.ico
  docs/book/index.md
  docs/book/logo.png
  docs/debugging.md
  docs/glossary/hyperbook.md
  docs/hyperbook.json
  docs/monitoring.md
  docs/multi-provider.md
  docs/readme.md
  docs/rotation.md
  mkdocs.yml
  readme.md
Due: eof-newline

test: add unit tests for GCP secret name normalization
  driver_test.go
Due: go-tidy, go-fmt

docs: add minimal mkdocs configuration
  docs/index.md
  mkdocs.yml
Due: eof-newline

feat: add a comprehensive CONTRIBUTING.md guide, update README links, and include .site/ in gitignore.
  .gitignore
  CONTRIBUTING.md
  docs/CONTRIBUTING.md
  readme.md
Due: eof-newline

Replace with in .gitignore for MkDocs build output exclusion.
  .gitignore
Due: none

deploy: 8126f302bf8ab9c954344157b801781da46f62ae
  CONTRIBUTING/index.html
  readme/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: eof-newline

deploy: 666571dc2db9627753e3d6632d6b54ebf9b9f742
  404.html
  CONTRIBUTING/index.html
  debugging/index.html
  monitoring/index.html
  multi-provider/index.html
  readme/index.html
  rotation/index.html
Due: none

deploy: e54b8d2fc43d710adf60cd75aa69aafb624b4219
  404.html
  CONTRIBUTING/index.html
  debugging/index.html
  monitoring/index.html
  multi-provider/index.html
  readme/index.html
  rotation/index.html
Due: none

feat: Add golangci-lint configuration and apply minor formatting adjustments.
  .github/workflows/lefthook.yml
  .golangci.yml
  lefthook.yml
  providers/aws.go
  providers/openbao.go
  providers/vault.go
Due: go-tidy, go-fmt, go-vet, go-imports, golangci-lint, gosec, gocyclo, eof-newline

ci: Update golangci-lint installation method to use curl and pin version v2.10.1.
  .github/workflows/lefthook.yml
Due: eof-newline

build: update Go, lefthook, and gosec versions in the CI workflow.
  .github/workflows/lefthook.yml
Due: eof-newline

ci: Add concurrency control, restrict push trigger to main branch, and pin tool versions in lefthook workflow.
  .github/workflows/lefthook.yml
Due: eof-newline

ci: Parallelize installation of lefthook and linters in CI workflow.
  .github/workflows/lefthook.yml
Due: eof-newline

build: Update lefthook installation path in GitHub Actions workflow.
  .github/workflows/lefthook.yml
Due: eof-newline

refactor: update lefthook installation path and parallelize CI tool installations.
  setup-hooks.sh
Due: none

fix: improve parallel tool installation in CI and simplify the NAME: lefthook - Git hooks manager
  setup-hooks.sh
Due: none

fix: Correct lefthook installation path and streamline Go tool installation in CI by removing background processes.
  .github/workflows/lefthook.yml
Due: eof-newline

Fix secret rotation bug by using prefix match and adding nil safety check
  driver.go
Due: go-tidy, go-fmt

deploy: ba25e0719ff97ab17035e53f3f7e2b474094314f
  CONTRIBUTING/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: eof-newline

deploy: fd50b07eee177865eabf1d094781c160f88bf534
  readme/index.html
Due: none

add request id and timing to secret resolution logs
  driver.go
Due: go-tidy, go-fmt

feat: Add functions to verify in-place secret rotation and integrate them into the OpenBao and Vault smoke tests.
  scripts/tests/smoke-test-helper.sh
  scripts/tests/smoke-test-openbao.sh
  scripts/tests/smoke-test-vault.sh
Due: eof-newline
