Repository sugar-org/swarm-external-secrets: changes, and which lefthook commands are due for each by the changed paths.
All: go-tidy, go-fmt, go-vet, go-imports, golangci-lint, gosec, gocyclo, eof-newline

go-tidy:
  run: go mod tidy && git add go.mod go.sum

go-fmt:
  run: "for file in {staged_files}; do\n  go fmt \"$file\"\n  git add \"$file\"\ndone\n"

go-vet:
  run: go vet ./...

go-imports:
  run: goimports -w {files} && git add {files}

golangci-lint:
  timeout: 10m
  run: golangci-lint run ./...

gosec:
  run: gosec ./...

gocyclo:
  run: gocyclo -over 17 .

eof-newline:
  help: Fail when a staged file does not end with a POSIX newline
  stage_fixed: true
  ...

chore: update release workflow to always publish to GHCR and conditionally to Docker Hub
  .github/workflows/release.yml
Due: eof-newline

chore: update versioning information in main.go and GoReleaser configuration
  .goreleaser.yaml
  main.go
Due: go-tidy, go-fmt

chore: fixed fomatting and some typos
  .goreleaser.yaml
Due: none

feat: validate vault+openbao multi-instance plugin usage in swarm
  docs/multi-provider.md
  readme.md
  scripts/tests/smoke-alias-single-service-compose.yml
  scripts/tests/smoke-alias-two-services-compose.yml
  scripts/tests/smoke-test-vault-openbao-multi-instance.sh
Due: eof-newline

Parallelize secret polling checks
  driver.go
  setup-hooks.sh
Due: go-tidy, go-fmt

fixed sequential polling in driver.go checkforsecret() to make it parallel using concurrency
  driver.go
Due: go-tidy, go-fmt

changed suggested by coderabbit
  driver.go
Due: go-tidy, go-fmt

Update driver.go
  driver.go
Due: go-tidy, go-fmt

docs: trim README and remove validation artifacts per review
  docs/multi-provider.md
  readme.md
  scripts/tests/smoke-alias-single-service-compose.yml
  scripts/tests/smoke-alias-two-services-compose.yml
  scripts/tests/smoke-test-vault-openbao-multi-instance.sh
Due: eof-newline

feat: validate vault+openbao multi-instance plugin usage in swarm (#101)
  docs/multi-provider.md
  readme.md
Due: eof-newline

deploy: 3dff96792b4f0b47f9e00cce0f92fe87aac347dd
  multi-provider/index.html
  readme/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: eof-newline

fixed config.json
  config.json
Due: none

chore: update GoReleaser changelog regex patterns for breaking changes
  .goreleaser.yaml
Due: none

chore: enhance Docker Hub login condition and streamline image handling in release workflow
  .github/workflows/release.yml
Due: eof-newline

feat: separated CI worflow and added GoReleaser configuration
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/tag-release.yml
  .goreleaser.yaml
Due: eof-newline

chore: update Docker container naming in CI and release workflows
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: eof-newline

chore: Modified the tag-release workflow to use fallbacks for GH tokens
  .github/workflows/tag-release.yml
Due: eof-newline

Potential fix for pull request finding
  .goreleaser.yaml
Due: none

fix: update SBOM document naming conventions in GoReleaser configuration
  .goreleaser.yaml
Due: none

refactor CI plugin build into reusable script
  .github/workflows/ci.yml
  scripts/build-plugin.sh
Due: eof-newline

chore: reuse shared plugin build script in release workflow
  .github/workflows/release.yml
Due: eof-newline

chore: replace fmt with log for consistent logging in main.go
  main.go
Due: go-tidy, go-fmt

Collapse commented-out code in driver.go
  driver.go
Due: go-tidy, go-fmt

ci: upload plugin image artifact
  .github/workflows/ci.yml
Due: eof-newline

ci: reuse plugin image in tag flow
  .github/workflows/tag-release.yml
Due: eof-newline

chore: simplify release workflow env
  .github/workflows/release.yml
Due: eof-newline

chore: use release PAT in tag workflow
  .github/workflows/tag-release.yml
Due: eof-newline

chore: switch tag action
  .github/workflows/tag-release.yml
Due: eof-newline

chore: reduce release PAT usage
  .github/workflows/release.yml
  .github/workflows/tag-release.yml
Due: eof-newline

fix(rotation): remove old secret only after running tasks stop using it
  driver.go
Due: go-tidy, go-fmt

fix: replace vault_reuse label with generic secret_reuse for multi-provider support
  driver.go
Due: go-tidy, go-fmt

resolved requests and added a section to multi-provider.md
  docs/multi-provider.md
  driver.go
Due: go-tidy, go-fmt, eof-newline

resolved requests regarding driver.go and multi-provider.md
  docs/multi-provider.md
  driver.go
Due: go-tidy, go-fmt, eof-newline

Enhance documentation for secret_reuse label
  docs/multi-provider.md
Due: eof-newline

fix: replace hardcoded vault_reuse label with generic secret_reuse for multi-provider support (#110)
  docs/multi-provider.md
  driver.go
Due: go-tidy, go-fmt, eof-newline

deploy: d86b857befcedd4686d3cc03cd1aeb60f1f38a7b
  404.html
  CONTRIBUTING/index.html
  debugging/index.html
  monitoring/index.html
  multi-provider/index.html
  readme/index.html
  rotation/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: eof-newline

Path conditions:
  go-tidy: any of: {go.mod,*.go}
  go-fmt: any of: *.go
  go-vet: any of: **/*.go
  go-imports: any of: **/*.go
  golangci-lint: any of: **/*.go
  gosec: any of: **/*.go
  gocyclo: any of: **/*.go
  eof-newline: any of: **/*.{go,sh,md,yml,yaml,json,txt}
