Repository sugar-org/swarm-external-secrets: changes, and which lefthook commands are due for each by the changed paths.
All: go-tidy, go-fmt, go-vet, go-imports, golangci-lint, gosec, gocyclo, eof-newline

go-tidy:
  run: go mod tidy && git add go.mod go.sum

go-fmt:
  run: "for file in {staged_files}; do\n  go fmt \"$file\"\n  git add \"$file\"\ndone\n"

go-vet:
  run: go vet ./...

go-imports:
  run: goimports -w {files} && git add {files}

golangci-lint:
  timeout: 10m
  run: golangci-lint run ./...

gosec:
  run: gosec ./...

gocyclo:
  run: gocyclo -over 17 .

eof-newline:
  help: Fail when a staged file does not end with a POSIX newline
  stage_fixed: true
  ...

deploy: 1b7d4301153eab235822289634d6968c231362b5
  multi-provider/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: eof-newline

refactor: move parseBoolEnv to utils.go
  binary_secret
  driver.go
  utils.go
Due: go-tidy, go-fmt

fix: remove merge conflict markers
  driver.go
Due: go-tidy, go-fmt

Update driver.go
  driver.go
Due: go-tidy, go-fmt

Update utils.go
  utils.go
Due: go-tidy, go-fmt

feat: Implement GCP Secret Manager Provider and fix
  .github/workflows/smoke-tests.yml
  .gitignore
  Dockerfile
  assets/gcp_helpful_screenshots/enable_api.png
  assets/gcp_helpful_screenshots/find_projectid.png
  docker-compose.yml
  go.mod
  go.sum
  providers/GCP_GUIDE.md
  providers/gcp.go
  scripts/tests/smoke-gcp-compose.yml
  scripts/tests/smoke-test-gcp.sh
Due: go-tidy, go-fmt, go-vet, go-imports, golangci-lint, gosec, gocyclo, eof-newline

add webhook-based secret sync for Vault provider
  config.json
  driver.go
  providers/webhook.go
  utils.go
Due: go-tidy, go-fmt, go-vet, go-imports, golangci-lint, gosec, gocyclo, eof-newline

updated config.json
  config.json
Due: none

refactored comments to increase readability
  driver.go
Due: go-tidy, go-fmt

edited comments
  driver.go
Due: go-tidy, go-fmt

trigger ci
  driver.go
Due: go-tidy, go-fmt

use uuid for request id in logs
  driver.go
  go.mod
Due: go-tidy, go-fmt

resolved requested changes
  config.json
  driver.go
  providers/webhook.go
Due: go-tidy, go-fmt, go-vet, go-imports, golangci-lint, gosec, gocyclo, eof-newline

Make Monitor.Stop() idempotent using sync.Once
  monitoring/monitor.go
Due: go-tidy, go-fmt, go-vet, go-imports, golangci-lint, gosec, gocyclo, eof-newline

bug-fix: ensure Stop method runs only once by introducing sync.Once in Monitor struct so Stop now behaves idempotent.
  monitoring/monitor.go
Due: go-tidy, go-fmt, go-vet, go-imports, golangci-lint, gosec, gocyclo, eof-newline

fixed typo in defer
  monitoring/monitor.go
Due: go-tidy, go-fmt, go-vet, go-imports, golangci-lint, gosec, gocyclo, eof-newline

made copilot suggested changes
  monitoring/monitor.go
Due: go-tidy, go-fmt, go-vet, go-imports, golangci-lint, gosec, gocyclo, eof-newline

bugfix: added sync.Once wrapper over Stop function which now makes it idempotent (#93)
  monitoring/monitor.go
Due: go-tidy, go-fmt, go-vet, go-imports, golangci-lint, gosec, gocyclo, eof-newline

deploy: f313b772663016d8a15fbcb516100a302806d5b4
  404.html
  CONTRIBUTING/index.html
  debugging/index.html
  monitoring/index.html
  multi-provider/index.html
  readme/index.html
  rotation/index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

refactor: remove unused SecretInfoAzure struct (#57)
  providers/azure.go
Due: go-tidy, go-fmt, go-vet, go-imports, golangci-lint, gosec, gocyclo, eof-newline

deploy: 10d2fd964c368197e079cee07cc1ab5a245d48b3
  sitemap.xml
  sitemap.xml.gz
Due: none

Update aws.go
  providers/aws.go
Due: go-tidy, go-fmt, go-vet, go-imports, golangci-lint, gosec, gocyclo, eof-newline

docs : Add AI tooling inquiry section to PR template
  .github/PULL_REQUEST_TEMPLATE.md
Due: eof-newline

docs: use global rotation env vars in docs and examples
  docs/monitoring.md
  docs/rotation.md
  readme.md
Due: eof-newline

docs: use global rotation env vars in docs and examples (#95)
  docs/monitoring.md
  docs/rotation.md
  readme.md
Due: eof-newline

deploy: b6f793798b80dea0fcd6a848f3f2a18f99bc6b91
  monitoring/index.html
  readme/index.html
  rotation/index.html
  search/search_index.json
Due: eof-newline

feat: separated CI worflow and added GoReleaser configuration
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/tag-release.yml
  .goreleaser.yaml
Due: eof-newline

fix: update SBOM document naming conventions in GoReleaser configuration
  .goreleaser.yaml
Due: none

chore: update Docker container naming in CI and release workflows
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: eof-newline

Potential fix for pull request finding
  .goreleaser.yaml
Due: none

chore: enhance Docker Hub login condition and streamline image handling in release workflow
  .github/workflows/release.yml
Due: eof-newline

chore: Modified the tag-release workflow to use fallbacks for GH tokens
  .github/workflows/tag-release.yml
Due: eof-newline

chore: update GoReleaser changelog regex patterns for breaking changes
  .goreleaser.yaml
Due: none

Path conditions:
  go-tidy: any of: {go.mod,*.go}
  go-fmt: any of: *.go
  go-vet: any of: **/*.go
  go-imports: any of: **/*.go
  golangci-lint: any of: **/*.go
  gosec: any of: **/*.go
  gocyclo: any of: **/*.go
  eof-newline: any of: **/*.{go,sh,md,yml,yaml,json,txt}
