Repository sugar-org/swarm-external-secrets: changes, and which lefthook commands are due for each by the changed paths.
All: go-tidy, go-fmt, go-vet, go-imports, golangci-lint, gosec, gocyclo, eof-newline

lefthook.yml:

# lefthook.yml
# This file is automatically generated by setup-hooks.sh

pre-commit:
  parallel: true
  commands:
    go-tidy:
      glob: "{go.mod,*.go}"
      run: go mod tidy && git add go.mod go.sum

    go-fmt:
      glob: "*.go"
      run: |
        for file in {staged_files}; do
          go fmt "$file"
          git add "$file"
        done

    go-vet:
      glob: "**/*.go"
      run: go vet ./...
    # Ensure imports are correctly formatted.
    go-imports:
      glob: "**/*.go"
      run: goimports -w {files} && git add {files}

    # go-test:
    #   glob: "*.go"
    #   run: go test -race ./...

    golangci-lint:
      glob: "**/*.go"
      timeout: 10m
      run: golangci-lint run ./...

    gosec:
      glob: "**/*.go"
      run: gosec ./...

    # Check for cyclomatic complexity. You'll need to install it:
    # `go install github.com/fzipp/gocyclo/cmd/gocyclo@latest`
    gocyclo:
      glob: "**/*.go"
      run: gocyclo -over 17 .
      
    eof-newline:
      help: Fail when a staged file does not end with a POSIX newline
      # pick the extensions you care about; here are the most common text types
      glob: "**/*.{go,sh,md,yml,yaml,json,txt}"
      stage_fixed: true          # lefthook will git-add any file we modify
      run: |
        fixed=0
        for file in {staged_files}; do
          [ -s "$file" ] || continue       # skip empty files
          # last byte → decimal code   (10 == '\n')
          last_byte=$(tail -c1 "$file" | od -An -t u1 | tr -d ' ')
          if [ "$last_byte" != "10" ]; then
            printf '\n' >> "$file"         # append missing newline
            echo "↪  added newline at EOF → $file"
            fixed=$((fixed + 1))
          fi
        done
        echo "✔  fixed $fixed file(s)"
        [ "$fixed" -eq 0 ]

Remove GCP smoke test and update dependencies
  .github/workflows/smoke-tests.yml
  Dockerfile
  docker-compose.yml
  go.mod
  go.sum
  main.go
Due: go-tidy, go-fmt, eof-newline

Add GCP docs and remove legacy guide
  .gitignore
  docs/assets/gcp/enable_api.png
  docs/assets/gcp/find_projectid.png
  docs/gcp.md
  mkdocs.yml
  providers/GCP_GUIDE.md
Due: eof-newline

Remove GCP smoke test files
  scripts/tests/smoke-gcp-compose.yml
  scripts/tests/smoke-test-gcp.sh
Due: eof-newline

refactor: improve GCP provider secret handling and error messages
  driver.go
  monitoring/monitor.go
  providers/gcp.go
Due: go-tidy, go-fmt, go-vet, go-imports, golangci-lint, gosec, gocyclo, eof-newline

fix: update navigation and error handling in GCP provider
  docs/index.md
  driver.go
  main.go
  mkdocs.yml
Due: go-tidy, go-fmt, eof-newline

Update providers/gcp.go
  providers/gcp.go
Due: go-tidy, go-fmt, go-vet, go-imports, golangci-lint, gosec, gocyclo, eof-newline

fix: improve error handling and version path management in GCP secret retrieval
  driver.go
  providers/gcp.go
Due: go-tidy, go-fmt, go-vet, go-imports, golangci-lint, gosec, gocyclo, eof-newline

feat: Complete GCP Secret Manager Provider implementation (#87)
  .github/workflows/smoke-tests.yml
  .gitignore
  docs/assets/gcp/enable_api.png
  docs/assets/gcp/find_projectid.png
  docs/gcp.md
  docs/index.md
  driver.go
  main.go
  mkdocs.yml
  monitoring/monitor.go
  providers/gcp.go
Due: go-tidy, go-fmt, go-vet, go-imports, golangci-lint, gosec, gocyclo, eof-newline

deploy: b1d4cc188d3af8484f351897f78ea8b430de16d4
  404.html
  CONTRIBUTING/index.html
  assets/gcp/enable_api.png
  assets/gcp/find_projectid.png
  debugging/index.html
  gcp/index.html
  index.html
  monitoring/index.html
  multi-provider/index.html
  rotation/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: eof-newline

fix: use configured mount path instead of hardcoded "secret/data/" in rotation tracking
  driver.go
  driver_test.go
Due: go-tidy, go-fmt

fix(scripts): resolve SonarCloud issues in smoke-test-helper.sh
  scripts/tests/smoke-test-helper.sh
Due: eof-newline

fix(scripts): resolve SonarCloud issues in build.sh
  scripts/build.sh
Due: eof-newline

fix(scripts): resolve SonarCloud issues in smoke-test-awssm.sh
  scripts/tests/smoke-test-awssm.sh
Due: eof-newline

fix(scripts): resolve SonarCloud issues in smoke-test-openbao.sh
  scripts/tests/smoke-test-openbao.sh
Due: eof-newline

fix(scripts): resolve SonarCloud issues in smoke-test-vault.sh
  scripts/tests/smoke-test-vault.sh
Due: eof-newline

feat: Add LOCALSTACK_AUTH_TOKEN to smoke-test-awssm job
  .github/workflows/smoke-tests.yml
Due: eof-newline

deploy: 21cfd98c532f4d1c2141b8b526fa56dc140a1a3e
  sitemap.xml
  sitemap.xml.gz
Due: none

refactor: LOCALSTACK_AUTH_TOKEN environment variable
  .github/workflows/smoke-tests.yml
Due: eof-newline

feat: Update LocalStack setup action to version 0.2.3
  .github/workflows/smoke-tests.yml
Due: eof-newline

fix: downgrade LocalStack setup action to version 0.2.2
  .github/workflows/smoke-tests.yml
Due: eof-newline

fix: downgrade LocalStack setup action to version 0.2.2 (#121)
  .github/workflows/smoke-tests.yml
Due: eof-newline

refactor: reduce complexity and deduplicate literals
  driver.go
  monitoring/monitor.go
  monitoring/web.go
Due: go-tidy, go-fmt, go-vet, go-imports, golangci-lint, gosec, gocyclo, eof-newline

fix: handle nil ContainerSpec in service secret update
  driver.go
Due: go-tidy, go-fmt

fix(scripts): resolve SonarCloud issues in smoke-test-vault.sh (#119)
  scripts/tests/smoke-test-vault.sh
Due: eof-newline

deploy: b6606e821e4de8d6f9237c7b60104872e3dfadcd
  sitemap.xml
  sitemap.xml.gz
Due: none

fix: resolve SonarCloud issues in smoke-test-openbao.sh (#118)
  scripts/tests/smoke-test-openbao.sh
Due: eof-newline

refactpr: Update scripts/tests/smoke-test-awssm.sh
  scripts/tests/smoke-test-awssm.sh
Due: eof-newline

fix: ensure proper exit code handling in smoke-test scripts
  scripts/tests/smoke-test-openbao.sh
  scripts/tests/smoke-test-vault.sh
Due: eof-newline

refactor: remove provider switch statements from driver.go
  driver.go
  providers/aws.go
  providers/azure.go
  providers/gcp.go
  providers/interface.go
  providers/openbao.go
  providers/vault.go
  scripts/tests/smoke-awssm-compose.yml
Due: go-tidy, go-fmt, go-vet, go-imports, golangci-lint, gosec, gocyclo, eof-newline

fix: make makim ci.all reproducible for all environments
  .makim.yaml
  scripts/check_plugin_service.sh
  scripts/test.sh
Due: eof-newline

docs: fix local setup instructions and broken documentation links
  CONTRIBUTING.md
Due: none

docs: fix setup guidance and broken documentation links
  CONTRIBUTING.md
  docs/gcp.md
  readme.md
Due: eof-newline

refactor: address review feedback
  driver.go
  utils.go
Due: go-tidy, go-fmt

refactor: restore context-based monitor shutdown
  monitoring/monitor.go
Due: go-tidy, go-fmt, go-vet, go-imports, golangci-lint, gosec, gocyclo, eof-newline

chore: remove unnecessary G118 suppression
  monitoring/monitor.go
Due: go-tidy, go-fmt, go-vet, go-imports, golangci-lint, gosec, gocyclo, eof-newline

refactor: address review feedback
  driver.go
Due: go-tidy, go-fmt

fix: Add nosec on sensitive keys to satisfy gosec
  providers/aws.go
  providers/openbao.go
  providers/vault.go
Due: go-tidy, go-fmt, go-vet, go-imports, golangci-lint, gosec, gocyclo, eof-newline

Trim trailing whitespace in smoke-awssm-compose.yml
  scripts/tests/smoke-awssm-compose.yml
Due: eof-newline
